{
  "presets": [
    ["env", {
      "targets": {
        "node": "current",
        "chrome": 55,
        "electron": "2.0.0"
      },
      "uglify": true
    }],
    "react",
    "react-native",
    "flow"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-remove-strict-mode"
  ]
}
